- form_for(milestone) do |f|
  = f.error_messages

  = f.hidden_field :project_id, :value => project.id
  
  .input_field
    = f.label :name
    = f.text_field :name, :class => "long"
  
  .input_field  
    = check_box_tag :show_deadline, 1, milestone.deadline
    %label.inline{:for => :show_deadline} Has a Deadline?
  
  .input_field
    - classes_data = "input_field" + (milestone.deadline ? "" : " hidden_div")
    #deadline_field{ :class => classes_data}
      = f.label :deadline
      = f.date_select :deadline

  .input_field
    = f.label :description
    = f.text_area :description
  
  .input_field
    = f.submit button
