<p>
  <b>Project:</b>
  <%=h @milestone.project %>
</p>

<p>
  <b>Name:</b>
  <%=h @milestone.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @milestone.description %>
</p>

<p>
  <b>Deadline:</b>
  <%=h @milestone.deadline %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
