- form_for(meeting) do |f|
  
  = f.hidden_field :iteration_id, :value => iteration.id

  .form_client
    %b Name
    %br/
    = f.text_field :name

  .form_client
    %b Meeting date
    %br/
    = f.date_select :meeting_date

  %fieldset.subsection
    %legend.subsectio Participants
    - @iteration.project.project_members.each do |participant|
      %div{:style => "margin: 0; padding: 0;"}
        %input{:type => "checkbox", :name => "users[]", :id => "users_" + participant.user.id.to_s, :value => participant.user.id, :checked => meeting.meeting_participants.map { |mp| mp.user }.include?(participant.user)}   
        %label{:for => "users_" + participant.user.id.to_s } 
          = participant.user.full_name
  .form_client
    %b Length (hours)
    %br/
    = f.text_field :length

  .form_client
    %b Notes
    %br/
    = f.text_area :notes, :class => "big"
  .form_client
    = f.submit button
