<p>
  <b>Iteration:</b>
  <%=h @meeting.iteration_id %>
</p>

<p>
  <b>Meeting date:</b>
  <%=h @meeting.meeting_date %>
</p>

<p>
  <b>Length:</b>
  <%=h @meeting.length %>
</p>

<p>
  <b>Name:</b>
  <%=h @meeting.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @meeting.notes %>
</p>

<p>
  <b>Created by:</b>
  <%=h @meeting.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @meeting.updated_by %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
