- form_for(agile_task) do |f|
  .form_client
    = f.hidden_field :story_id, :value => story.id
  /.form_client
  /  %b Tracker ticket
  /  %br/
  /  = f.text_field :tracker_ticket_id
  /
  /.form_client
  /  %b Tracker ticket submitter
  /  %br/
  /  = f.text_field :tracker_ticket_submitter
  /
  .form_client
    - if !agile_task.completion_date
      == <input type="checkbox" name="task_completed" id="task_completed" value = "1" /><input type="hidden" name="task_completed" value = "0" />
      %label{:for => "task_completed"} 
        %b Completed
    - else
      %b Completion date:
      = f.date_select :completion_date
      == (<input type="checkbox" name="task_not_completed" id="task_not_completed" value = "1" /><input type="hidden" name="task_not_completed" value = "0" />
      %label{:for => "task_not_completed"} 
        %b Make not completed)

  .form_client
    %b Name
    %br/
    = f.text_field :name, :class => "long"

  .form_client
    = f.check_box :bug
    %label{:for => "agile_task_bug"} 
      %b Is it a bug fix?


  .form_client
    = drawer("task_users", "Add/Delete Task Owners", developers_list(story, agile_task), task_developers(agile_task), agile_task.task_owners.empty?)

  .form_client
    %b Notes
    %br/
    = f.text_area :notes, :class => "big"

  %div
    %label{:class => "title", :for => "agile_task_task_units" } Task units
    .help_info Estimation of time in hours required to finish the task
    = f.text_field :task_units, :class => "numeric_entry"

  .form_client
    = f.submit button
