%h1 New Task
.help_info== Project: '#{@project.name}' ••• Iteration: '#{dates_interval(@story.iteration.start_date, @story.iteration.end_date)}' ••• Story: '#{@story.name}' 

= error_messages_for :agile_task

= render :partial => 'agile_task', :locals => {:story => @story, :agile_task => @agile_task, :button => "Create" }
