<h1>Editing task</h1>

<%= error_messages_for :task %>

<% form_for(@tracker_task) do |f| %>
  <p>
    <b>Tracker</b><br />
    <%= f.text_field :tracker_id %>
  </p>

  <p>
    <b>Tracker ticket</b><br />
    <%= f.text_field :tracker_ticket_id %>
  </p>

  <p>
    <b>Tracker ticket submitter</b><br />
    <%= f.text_field :tracker_ticket_submitter %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Notes</b><br />
    <%= f.text_area :notes %>
  </p>

  <p>
    <b>Bug</b><br />
    <%= f.check_box :bug %>
  </p>

  <p>
    <b>Created by</b><br />
    <%= f.text_field :created_by %>
  </p>

  <p>
    <b>Updated by</b><br />
    <%= f.text_field :updated_by %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tracker_task %> |
<%= link_to 'Back', tracker_tasks_path %>
