%h3 Manage Users
%p= link_to "Add User", new_user_url
%table.data.spreaded.bordered
  %thead 
    %tr 
      %th #
      %th Name
      %th Username
      %th Email
      %th Phone
      %th Roles
      %th Actions
  %tbody
    - count=0
    -@users.each do |user|
      -count += 1
      %tr{:id => "user_#{user.id}"}
        %td&= count
        %td&= user.full_name
        %td&= user.login
        %td&= user.email
        %td&= user.phone
        %td&= user.groups.map{|r| r.name}.join(', ')
        %td 
          = link_to "Edit", edit_user_url(user)
          ,
          = link_to "Delete", user_path(user), :method => :delete, :confirm => "Are you sure you want to delete user '#{user.login}'?" 
