- form_for(story) do |f|

  = f.hidden_field :iteration_id, :value => iteration.id

  .input_field
    = f.label :name
    = f.text_field :name, :class => "long"

  - if iteration.project.current_milestone #&& !iteration.project.current_milestone.features.blank?

    .input_field
      .drawer{:class => "drawer_closed"}
        Select a feature for the story
        .drawer_closed_data
          - if story.features
            %ul
            - for feature in story.features
              %li= feature.name
          - else 
            Click to select a feature
      .drawer_content{:class => "hidden_div"}
        - for feature in iteration.project.current_milestone.features
          = check_box_tag "story[feature_ids][]", feature.id, (!story.features.blank? && story.features.include?(feature)), :id => "feature_ids_" + feature.id.to_s
          %label.inline{:for => "feature_ids_" + feature.id.to_s}= feature.name
          %br/

  .input_field
    = f.label :description
    = f.text_area :description, :class => "big"

  .input_field
    = f.label :work_units_est, "Work units"
    = f.text_field :work_units_est, :class => "numeric_entry"

  .input_field
    = f.submit button
