- form_for(story) do |f|

  = f.hidden_field :iteration_id, :value => iteration.id

  .form_client
    %b Name
    %br/
    = f.text_field :name, :class => "long"

  .form_client
    %b Description
    %br/
    = f.text_area :description, :class => "big"

  .form_client
    %br/
    Work units est
    = f.text_field :work_units_est, :class => "numeric_entry"
  .form_client
    = f.submit button
