- form_for(story) do |f|

  = f.hidden_field :iteration_id, :value => iteration.id

  .input_field
    = f.label :name
    = f.text_field :name, :class => "long"

  - if iteration.project.current_milestone && !iteration.project.current_milestone.features.blank?
    .input_field
      = drawer("task_users", "Add/Delete Task Owners", 'one', 'two', false)

  .input_field
    = f.label :description
    = f.text_area :description, :class => "big"

  .input_field
    = f.label :work_units_est, "Work units"
    = f.text_field :work_units_est, :class => "numeric_entry"

  .input_field
    = f.submit button
