- form_for(story) do |f|

  = f.hidden_field :iteration_id, :value => iteration.id

  %p
    %b Name
    %br/
    = f.text_field :name, :class => "long"

  %p
    %b Description
    %br/
    = f.text_area :description, :class => "big"

  %p
    %b Work units est
    %br/
    = f.text_field :work_units_est, :class => "numeric_entry"
  %p
    = f.submit button
