- form_for(story) do |f|

  = f.hidden_field :iteration_id, :value => iteration.id

  .input_field
    = f.label :name
    = f.text_field :name, :class => "long"

  .input_field
    = f.label :description
    = f.text_area :description, :class => "big"

  .input_field
    = f.label :work_units_est, "Work units"
    = f.text_field :work_units_est, :class => "numeric_entry"

  .input_field
    = f.submit button
