- iteration_label = @iteration == @iteration.project.current_iteration ? "Current Iteration" : "Old Iteration"
- iteration_label = "Future Iteration" if @iteration.start_date >= Date.today
- days_left = @iteration.current? ? " (#{@iteration.days_left} #{@iteration.days_left == 1 ? "day" : "days"} left)" : ""
%h1 
  = h("#{iteration_label} #{dates_interval(@iteration.start_date, @iteration.end_date)}#{days_left}")

= link_to 'Edit', edit_project_iteration_url(@iteration.project,@iteration)
= "|"
= link_to 'All Iterations', project_iterations_path(@iteration.project)
- if @previous_iteration
  = "|"
  = link_to 'Prev. Iteraion', iteration_stories_url(@previous_iteration)
- if @next_iteration
  = "|"
  = link_to 'Next Iteration', iteration_stories_url(@next_iteration)



%p
  %b Objectives:
  = (@iteration.objectives.strip == "") ? "N/A" : @iteration.objectives
%p
  %b Work units:
  Limit: 
  %b= @iteration.work_units
  , Planned: 
  %b= @iteration.work_units_planned
  , Done: 
  %b= @iteration.work_units_real

= burndown_chart(@iteration.burndown, @iteration.work_units_planned)
= velocity_chart(@project.velocity, @iteration.id)

%fieldset.subsection
  %legend.subsection Stories/Tasks
  %div{:style => "margin-bottom:1em"}
    %span= link_to '<strong>Add story</strong>', new_iteration_story_path(@iteration)
    |
    - collapse_stories_msg = @collapse_iteration ? '<strong>Expand Stories</strong>' : '<strong>Collapse Stories</strong>'
    %span#toggle_stories.hide_stories= link_to collapse_stories_msg, "#toggle"
  - @stories.each do |story|
    .story{:id => "story_" + story.id.to_s}
      .story_title
        %table.story_info
          %tr
            %td{:style => "width:8em"}= story_completion(story)
            %td{:style => "width:25em"}
              %b= story.name.capitalize
            %td{:style => "width:5em"}==  (#{story.work_units_est} w.u.) 
            %td{:style => "width:3em"}= link_to "edit", edit_iteration_story_url(@iteration, story)
            %td{:style => "width:3em"}= link_to "delete", iteration_story_url(@iteration, story), :method => "delete", :confirm => "Are you sure?"
      - show_style = @collapse_iteration ? "display:none;" : "display:block"
      .agile_tasks{:style => show_style}
        = link_to "<strong>Add task</strong>", new_story_agile_task_url(story)
        - if !story.agile_tasks.empty?
          %table{:class => "data bordered"}
            %thead
              %tr
                %th Task Name
                %th Bug?
                %th Done?
                %th Owners
                %th t.u.
                %th{:colspan => "2"} Actions

            - story.agile_tasks_sorted.each do |task|
              - tr_class = (!task.completion_date? && task.task_owners.size > 0) ? "task_active" : "task_inactive"
              - td_class = task.completion_date? ? "task_complete" : "task_incomplete"
              %tr{:id => "task_" + task.id.to_s, :class => tr_class}
                %td{:style => "width:35em;", :class => td_class}= link_to_task task.name, task
                %td{:style => "width:2em;"}= link_to_task((task.bug? ? '<span style="color:red">yes</span>' : '-'), task)
                %td{:style => "width:2em;"}= link_to_task((task.completion_date ? 'yes' : '-'), task)
                %td= link_to_task task_owners(task), task
                %td{:style => "width:2em;"}= link_to_task((task.task_units ? task.task_units : '-'), task)
                %td= link_to_task('edit', task)
                %td= link_to 'delete', story_agile_task_url(story, task), :method => "delete", :confirm => "Are you sure?"

  %div{:style => "margin-bottom:1em"}
    %span= link_to '<strong>Add story</strong>', new_iteration_story_path(@iteration)

%fieldset.subsection
  %legend.subsection Meetings
  = link_to 'Add meeting', new_iteration_meeting_path(@iteration) 
  
  - if !@meetings.empty?
    %table{:class => "data bordered"}
      %thead
        %tr
          %th Date
          %th Meeting
          %th length (w.u)
          %th{:style => "width: 30em"} Participants
          %th{:colspan => "2"} Actions
      %tbody
        - @meetings.each do |meeting|
          %tr
            %td= link_to format_date(meeting.meeting_date), edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to meeting.name, edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to meeting.length * meeting.meeting_participants.size, edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to participants(meeting), edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to 'edit', edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to 'delete', iteration_meeting_url(@iteration, meeting), :confirm => 'Are you sure?', :method => :delete

