- iteration_label = 'Old Iteration'
- if @iteration == @iteration.project.current_iteration  
  - iteration_label = "Current Iteration"
- elsif @iteration.project.future_iterations.include? @iteration 
  - iteration_label = "Future Iteration"
- days_left = @iteration.current? ? " (#{@iteration.days_left} #{@iteration.days_left == 1 ? "day" : "days"} left)" : ""
%h1 
  &== #{iteration_label} #{dates_interval(@iteration.start_date, @iteration.end_date)}#{days_left}

%p
  = link_to 'Edit', edit_project_iteration_url(@iteration.project,@iteration), :class => "navigation"
  = "|"
  = link_to 'All Iterations', project_iterations_path(@iteration.project), :class => "navigation"
  - if @previous_iteration
    = "|"
    = link_to 'Prev. Iteraion', iteration_stories_url(@previous_iteration), :class => "navigation"
  - if @next_iteration
    = "|"
    = link_to 'Next Iteration', iteration_stories_url(@next_iteration), :class => "navigation"

%fieldset.subsection
  %legend.subsection Objectives
  :textile
    #{@iteration.objectives.strip == "" ? "N/A" : @iteration.objectives}

= burndown_chart(@iteration.burndown, @iteration.work_units_planned)
= velocity_chart(@project.velocity, @iteration.id)

%fieldset.subsection
  %legend.subsection Stories/Tasks
  %div
    %b Work units:
    Limit: 
    %b&= @iteration.work_units
    , Planned: 
    %b&= @iteration.work_units_planned
    , Done: 
    %b&= @iteration.work_units_real
  %div{:style => "margin-bottom:1em"}
    %span= link_to 'Add story', new_iteration_story_path(@iteration), :class => "navigation"
    |
    - collapse_stories_msg = @collapse_iteration ? 'Expand Stories' : 'Collapse Stories'
    %span#toggle_stories.hide_stories= link_to collapse_stories_msg, "#toggle", :class => "navigation"
  - @stories.each do |story|
    .folder{:id => "story_" + story.id.to_s}
      .folder_title
        %table.folder_info
          %tr
            %td{:style => "width:8em"}= story_completion(story)
            %td{:style => "width:25em"}
              %strong&= story.name
            %td{:style => "width:5em"}&==  (#{story.work_units_est} w.u.) 
            %td{:style => "width:3em"}= link_to "edit", edit_iteration_story_url(@iteration, story), :class => "navigation"
            %td{:style => "width:7em"}= link_to "delete", iteration_story_url(@iteration, story), :method => "delete", :confirm => "Are you sure?", :class => "navigation"

            / allow to move story for current/future iterations
            - is_prev = @previous_iteration && @previous_iteration.end_date >= Date.today
            - is_next = @iteration.end_date >= Date.today
            - if is_prev || is_next
              - msg = "Story will be moved to the previous iteration"
              %td{:style => "width:1em"}= link_to "&lt;", story_url(story, "story[iteration_id]" => @previous_iteration.id), :method => "put", :confirm => msg, :title => msg, :class => "navigation" if is_prev
              - msg = is_prev && is_next ? "prev/next" : (is_next ? "next" : "prev")
              - msg = "to&nbsp;#{msg}&nbsp;iter."
              %td{:style => "width:0em"}= msg
              - if is_next
                %td{:style => "width:1em"}
                  - if @next_iteration
                    - msg = "Story will be moved to the next iteration."
                    = link_to "&gt;", story_url(story, "story[iteration_id]" => @next_iteration.id), :method => "put", :confirm => msg, :title => msg, :class => "navigation" 
                  - else
                    - msg = "Cannot move story yet. Create new iteration first."
                    = link_to '<span style ="color:#999;">&gt;</span>', "javascript:alert('#{msg}')", :title => msg, :class => "navigation"
      
      - show_style = @collapse_iteration ? "display:none;" : "display:block"
      .folder_content{:style => show_style}
        = link_to "Add task", new_story_agile_task_url(story), :class => "navigation" unless @iteration.past?
        - if story.agile_tasks.empty?
          = "This story and its tasks had been moved to the next iteration" if @iteration.past?
        - else
          %table{:class => "data bordered"}
            %thead
              %tr
                %th Task Name
                %th Bug?
                %th Done?
                %th Owners
                %th t.u.
                %th{:colspan => "2"} Actions
            %tbody
              - story.agile_tasks_sorted.each do |task|
                - tr_class = task.active? ? "item_active" : "item_inactive"
                - td_class = task.completion_date? ? "item_complete" : "item_incomplete"
                %tr{:id => "task_" + task.id.to_s, :class => tr_class}
                  %td{:style => "width:35em;", :class => td_class}= link_to_task h(task.name), task
                  %td{:style => "width:2em;"}= link_to_task((task.bug? ? '<span style="color:red">yes</span>' : '-'), task)
                  %td{:style => "width:2em;"}= link_to_task((task.completion_date ? 'yes' : '-'), task)
                  %td= link_to_task task_owners(task), task
                  %td{:style => "width:2em;"}= link_to_task((task.task_units ? h(task.task_units) : '-'), task)
                  %td= link_to 'edit', edit_story_agile_task_url(story, task), :class => "navigation"
                  %td= link_to 'delete', story_agile_task_url(story, task), :method => "delete", :confirm => "Are you sure?", :class => "navigation"

  %div{:style => "margin-bottom:1em"}
    %span= link_to 'Add story', new_iteration_story_path(@iteration), :class => "navigation"
    %p
      %b Work units:
      Limit: 
      %b= h @iteration.work_units
      , Planned: 
      %b= h @iteration.work_units_planned
      , Done: 
      %b= h @iteration.work_units_real

%fieldset.subsection
  %legend.subsection Meetings
  = link_to 'Add meeting', new_iteration_meeting_path(@iteration), :class => "navigation"
  
  - if !@meetings.empty?
    %table{:class => "data bordered"}
      %thead
        %tr
          %th Date
          %th Meeting
          %th Hrs Total
          %th{:style => "width: 30em"} Participants
          %th{:colspan => "2"} Actions
      %tbody
        - @meetings.each do |meeting|
          %tr
            %td= link_to format_date(meeting.meeting_date), edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to h(meeting.name), edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to meeting.length * meeting.meeting_participants.size, edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to h(participants(meeting)), edit_iteration_meeting_path(@iteration, meeting)
            %td= link_to 'edit', edit_iteration_meeting_path(@iteration, meeting), :class => "navigation"
            %td= link_to 'delete', iteration_meeting_url(@iteration, meeting), :confirm => 'Are you sure?', :method => :delete, :class => "navigation"

