- form_for(iteration) do |f|
  
  = f.hidden_field :project_id, :value => @project.id
  
  .input_field
    = f.label :objectives
    = f.text_area :objectives
  
  .input_field
    = f.label :start_date
    = f.date_select :start_date
    = iteration.start_date.strftime "%a" if iteration.start_date
  
  .input_field
    = f.label :end_date
    = f.date_select :end_date
    = iteration.end_date.strftime "%a" if iteration.end_date
  
  .input_field
    = f.label :work_units
    = f.text_field :work_units
  
  .input_field
    = f.submit button

