<h1>Editing meeting_participant</h1>

<%= error_messages_for :meeting_participant %>

<% form_for(@meeting_participant) do |f| %>
  <p>
    <b>Meeting</b><br />
    <%= f.text_field :meeting_id %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Created by</b><br />
    <%= f.text_field :created_by %>
  </p>

  <p>
    <b>Updated by</b><br />
    <%= f.text_field :updated_by %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @meeting_participant %> |
<%= link_to 'Back', meeting_participants_path %>
