<p>
  <b>User:</b>
  <%=h @project_member.user_id %>
</p>

<p>
  <b>Project:</b>
  <%=h @project_member.project_id %>
</p>

<p>
  <b>Active:</b>
  <%=h @project_member.active %>
</p>

<p>
  <b>Send iteration report:</b>
  <%=h @project_member.send_iteration_report %>
</p>

<p>
  <b>Created by:</b>
  <%=h @project_member.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @project_member.updated_by %>
</p>


<%= link_to 'Edit', edit_project_member_path(@project_member) %> |
<%= link_to 'Back', project_members_path %>
