<h1>Listing task_owners</h1>

<table>
  <tr>
    <th>User</th>
    <th>Task</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% for task_owner in @task_owners %>
  <tr>
    <td><%=h task_owner.user_id %></td>
    <td><%=h task_owner.agile_task_id %></td>
    <td><%=h task_owner.created_by %></td>
    <td><%=h task_owner.updated_by %></td>
    <td><%= link_to 'Show', task_owner %></td>
    <td><%= link_to 'Edit', edit_task_owner_path(task_owner) %></td>
    <td><%= link_to 'Destroy', task_owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New task_owner', new_task_owner_path %>
