<p>
  <b>User:</b>
  <%=h @task_owner.user_id %>
</p>

<p>
  <b>Task:</b>
  <%=h @task_owner.agile_task_id %>
</p>

<p>
  <b>Created by:</b>
  <%=h @task_owner.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @task_owner.updated_by %>
</p>


<%= link_to 'Edit', edit_task_owner_path(@task_owner) %> |
<%= link_to 'Back', task_owners_path %>
