<h1>Listing features</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Milestone</th>
    <th>Completion date</th>
  </tr>

<% for feature in @features %>
  <tr>
    <td><%=h feature.name %></td>
    <td><%=h feature.description %></td>
    <td><%=h feature.milestone %></td>
    <td><%=h feature.completion_date %></td>
    <td><%= link_to 'Show', feature %></td>
    <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feature', new_feature_path %>
