#report
  %h1== Report for project "#{@project.name}"
  %h2== Period #{dates_interval(@report.start_date, @report.end_date)}: achieved #{@report.work_units_real} work units out of #{@report.work_units_planned} planned
  
  %fieldset.subsection
    %legend.subsection Objectives
    :textile
      #{@report.objectives.strip == "" ? "N/A" : @report.objectives}

  / If there is a current milestone where features have stories organize stories from the iteration using milestone first
  - unless @milestone_stories.blank?
    %br/
    %fieldset.subsection
      %legend.subsection Progress
      %ul
        - for feature in @milestone.features_prepared(@report.end_date)
          - feature_stories = feature.stories_prepared.select {|s| @milestone_stories.include? s}# && !s.completion_date.blank?}
          - unless feature_stories.blank?
            - icon_image, icon_title = feature.completion_date && feature.completion_date <= report.end_date ? ["/images/tick.png","Complete"] : ["/images/cog.png", "In progress"]          
            %li{:style => "list-style-image: url(#{icon_image})", :title => icon_title} 
              %strong= feature.name  
              = feature.completion_date ? "(Completed on " + format_date(feature.completion_date) + ") ": ""
              = sprintf("(%.1f w.u.)", feature_stories.inject(0) {|res,s| res += s.work_units_est/s.implementations.size})
              /= sprintf(", total %.1f w.u.", feature.total_work_units)
            %ul{:style => 'list-style-image: url("/images/tick.png")', :title => "Completed"}
              - for story in feature_stories
                %li
                  %span{:style => "width:10em; color:red"}== (#{story.work_units_est.to_s} w.u.)  
                  &= story.name

  %fieldset.subsection
    %legend.subsection Milestone status
    %h2== Milestone #{@milestone.name}
    %ul
      - for feature in @milestone.features_prepared(@report.end_date)
        - icon_image, icon_title = feature.completion_date && feature.completion_date <= @report.end_date ? ["/images/tick.png","Complete"] : ["/images/cog.png", "In progress"]
        %li{:style => "list-style-image: url(#{icon_image})", :title => icon_title}= feature.name
      

